<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="welcome">CargoSquare</a>
		</div>

		<div class="navbar-collapse" uib-collapse="isCollapsed">
			<ul class="nav navbar-nav">
				
				<li ng-repeat="item in states" ng-class="{'active': item.state === currState}" ng-attr-uib-dropdown="{{ item.hasChildren || undefined }}">
					<a ng-if="item.type === 'link'" ui-sref="{{ item.link }}">{{ item.name }}</a>
					<a ng-if="item.type === 'dropdown'" uib-dropdown-toggle>{{ item.name }}<span class="caret"></span></a>

					<ul class="dropdown-menu" ng-if="item.type === 'dropdown'">
						<li ng-repeat="child in item.childrens" ng-class="{'divider': child.divider}">
							<a ng-if="child.type === 'link'" ui-sref="{{ child.link }}">{{ child.name }}</a>
							<a ng-if="child.type === 'button'" ng-click="child.action()">{{ child.name }}</a>
						</li>
					</ul>

					<a ng-if="item.type === 'button'" ng-click="item.action()">{{ item.name }}</a>

				</li>

			</ul>
		</div>
	</div>
</nav>