<div class="text-center">
	<h1 class="text-bluejeans">How this works</h1>
	<h2>AngularJs + bootflat ui kit</h2>
</div>

<div ng-controller="AboutCtrl">
	<p>this is form builder</p>

	<form name="f1" sf-schema="scopes['f1'].schema" sf-form="scopes['f1'].form" sf-model="scopes['f1'].model" ng-submit="onSubmit(f1)"></form>

	<form name="f2" sf-schema="scopes['f2'].schema" sf-form="scopes['f2'].form" sf-model="scopes['f2'].model" ng-submit="onSubmit(f2)"></form>
	
	<form name="myform" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(myform)"></form>

</div>

<div style="height: 300px"></div>
