<!DOCTYPE html>
<html>
<head>
  <title>CargoSquare</title>
  <meta name="google-site-verification" content="aqHAVI9NQDlP5P0BdAzAy4vrFSM0wMslh0d5cfMxhMU" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">

<%= yield %>

</body>
</html>
